* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://pbs.twimg.com/media/F3Q0yS6XUAA0s1o.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* step 1. give the thumbs a new height */
.thumb {
  height: 15vh;
}

.thumbnails-container {
  display: flex;
  width: 80vw;
  background-color: purple;
  padding: 10px;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-block: 50px;
  align-items: center;
  bottom: 5vh;
  height: 17vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.big-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.big-image {
  height: 100vh;

  /* This is another solution to the Mac scrollbar always showing,  however it removes the scrollbar completely - even when you need it (i.e on mobile screens) */
  /* .thumbnail-container::-webkit-scrollbar {
  display: none;
} */

  /* These two properties make sure our image takes up the whole container without skewing */
  object-fit: cover;
  object-position: left;
  /* This makes any part of the image that doesn't fit in the container (on smaller screens especially) get cut off */
  overflow: hidden;
}

@media (min-width: 800px) {
  .thumbnails-container {
    top: 5vh;
  }
}

.buttons {
  position: absolute;
  display: flex;
  bottom: 50vh;
  width: 100vw;
  justify-content: space-between;
  padding-inline: 30px;
}

/* because we didnt give buttons a class - this means any button that is a child of any element with .buttons */
.buttons button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: purple;
}

.toggle {
  position: absolute;
  top: 40vh;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 25px;
  text-align: center;
  background-color: chartreuse;
}
